/* GENERAL STYLING */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    background-color: #fdfbf3;
    font-family: 'Source Sans 3', sans-serif;
    min-height: 100vh; margin: 0;
    display:flex; flex-direction:column;
} 
::selection { background-color: #e69beb84; }

p {
    font-size: 18px;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    color: #000;
}

h1.space {
    margin: 30px 0 20px 0;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: large;
    color: #000;
}

h2.space {
    margin-top: 40px;
    margin-bottom: 20px;
}

h2.space2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

h4 {
    color: #e59beb;
}

.email-git {
    display: flex;  
    justify-content: center;
    align-items: center;
}

.scrollable {
    height: 100%;
}

.padding {
    margin-bottom: 15px;
}

.liststyle {
    margin-left: 15px;
}

.nolist {
    list-style-type: none;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.container {
    margin: 0 auto;
    padding: 0 36px;
}

.column_index {
    float: left;
    width: 35%;
}

.column_skills {
    margin-left: 20px;
    float: left;
    width: 32vw;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.bar-container {
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 8px;
    width: 100%;
    margin: 10px 0 15px 0;
}

.bar-fill {
    height: 100%;
    background: linear-gradient(to right, #a68dc7, #EFA8F4);
    border-radius: 5px;
}

/* NAVIGATION */
.navbar {
    background: #4e9eac;
    color: #fff;
    height: 60px;
}

.navbar a {
    transition: 0.2s ease-in;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: #EFA8F4;
}

.navbar a.active {
    color: #EFA8F4;
    text-decoration: none;
}

.navbar .container {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    overflow: auto; 
}

.navbar ul li {
    margin: 36px;
}        

/*FLEX BOX COMPONENTS*/
.comp {
    display: flex;
    flex-direction: column;
}

.comp_item {
    flex: 1;
}

.pfp {
    width: 75%;
    min-width: 300px;
    border-width: min(14px);
    border: 1.2vw solid #fde3e4;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
}

@media (max-width: 800px) {
    .image-content {
        padding-top: 2.5rem;
    }
    
    .pfp {
        width: 300px;
        border: 14px solid #fde3e4;
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
    }
}

@media (max-height: 580px) and (min-width: 800px)  {
    .pfp {
        object-fit: cover;
        min-width: 0;
        width: 48vh;
        height: 48vh;
        border: 2.5vh solid #fde3e4;
        border-radius: 50%;
    }
}


@media (max-height: 400px) and (min-width: 800px)  {
    .image-content {
        margin-top: -3.5em;
    }

    .pfp {
        position: relative;
        right: 90px;
        top: 55px;
        object-fit: cover;
        min-width: 0;
        width: 65px;
        height: 65px;
        border: 5px solid #fde3e4;
        border-radius: 50%;
    }

    .pfp-name {
        margin-left: 80px;
    }
}

.image-content {
    text-align: center;
    order: -1;
    flex: 1;
}

.main-content {
    margin: 0 10px;
    padding-bottom: 15px;
    flex: 1;
}

/* EXPERIENCE & EDUCATION STYLE */
.e-list {
    display: flex;
    flex-direction: column;
    gap: 9.5px;
}

.e-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 9.5px;
    border-bottom: 1px solid #ccc;
}

.e-details, .e-dates {
    flex: 1;
}

.e-details {
    margin-right: 20px;
}

.e-dates {
    text-align: right;
}

@media (max-width: 600px) {
    .experience-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .experience-dates {
        text-align: left;
        margin-top: 10px;
    }
}
  
/* PROJECT CARD STYLING */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
}

.project-card {
    position: relative;
    overflow: hidden;
    background-color: #fde3e4;
    border-radius: 5px;
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s ease;
    height: 248px;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-title {
    font-size: larger;
    margin: 8px 10px;
    position: relative;
}

.project-image {
    width: 100%;
    height: 205px; /* Smaller height for the image */
    object-fit: cover;
}

.project-hover-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    transform: translateY(100%);
    transition: transform 0.3s ease;
    padding: 27px 16px 16px 16px;
    box-sizing: border-box;
}

.project-card:hover .project-hover-content {
    transform: translateY(0); 
}

.project-more-button {
    display: flex;
    transition: 0.3s ease;
    font-size: 12px;
    font-weight: 500;
    background-color: #90534f;
    color: white;
    border: none;
    padding: 3px 8px 5px 9px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 7px;
    right: 6px;
}
  
.project-more-button:hover {
    background-color: #783e3a;
    border-radius: 25px;
}

.more {
    margin-top: 2.2px;
}

.back-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 20px;
}
  
.back-button:hover {
    background-color: #0056b3;
}

.project-description {
    font-size: medium;
    margin: 5px 10px 6px 10px;
}

.project-buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px -1px 0 -1px;
}

.project-button {
    transition: 0.3s ease;
    width: 70px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #484848;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.project-button:last-child {
    margin-right: 0;
}

.project-button:hover {
    background-color: #4e9eac;
}

@media screen and (min-width: 800px) {
    .navbar {
        flex-direction: row;
    }
    .comp {
        flex-direction: row;
    }
    .comp_item {
        flex: 1;
    }
    .image-content {
        padding: 10px 0 10px 10px;
        text-align: center;
        align-self: center;
        order: -1;
        flex: 1;
    }
    .main-content {
        padding: 0 10px 10px 10px;
        height: calc(100vh - 94px);
        flex: 2;
    }
    .column_skills {
        margin-left: 20px;
        float: left;
        width: 22vw;
    }
    .scrollable {
        overflow-y: scroll;
    }
}

@media screen and (min-width: 935px) {
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

/*FOOTER STYLING*/
header { min-height:50px; }
article { flex:1; } /* The article fills all the space between header & footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1.5px solid #4e9eac;
    text-align: center;
    padding: 2px;
    font-size: 12px;
}

.logo {
    margin: 3px 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}