.back-button {
    transition: 0.3s ease;
    background-color: #90534f;
    width: 60px;
    margin: 20px 0 0 0;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #783e3a;
}

.center-container {
    display: flex;
    justify-content: center;
}

.demo-video {
    width: 80vw; 
    height: 45vw;
}

.project-descs {
    font-size: medium;
}

.project-pics {
    width: 98%;
    border-radius: 20px;
    box-shadow: 
        0.6vw 0.6vw 0.4vw rgba(0, 0, 0, 0.25), 
        0.6vw 0.6vw 0.8vw rgba(0, 0, 0, 0.25), 
        0.6vw 0.6vw 1.0vw rgba(0, 0, 0, 0.25); 
}

@media screen and (min-width: 800px) {
    .demo-video {
        width: 56vw; 
        height: 31.5vw;
    }
    .project-pics {
        width: 98%;
        border-radius: 20px;
        box-shadow: 
            0.3vw 0.3vw 0.2vw rgba(0, 0, 0, 0.25),
            0.3vw 0.3vw 0.65vw rgba(0, 0, 0, 0.25), 
            0.3vw 0.3vw 0.8vw rgba(0, 0, 0, 0.25); 
    }
}